body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(16, 3, 70, 1) 0%, rgba(26, 32, 184, 1) 35%, rgba(19, 182, 217, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    background-color: white;
    height: 50vh;
    width: 40%;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 40px rgb(41, 39, 39);
    align-items: center;
    flex-direction: column;
}

h1 {
    text-decoration: underline;
    color: rgb(11, 11, 80);
}

.timer {
    display: flex;
    flex-direction: row;
    width: 50vh;
    justify-content: space-evenly;

}

.display-box {
    height: 15vh;
    width: 10vh;
    background-color: rgb(11, 9, 119);
    border-radius: 10px;
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 2vh;
    color: white;
}

button {
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(16, 3, 70, 1) 0%, rgba(26, 32, 184, 1) 35%, rgba(19, 182, 217, 1) 100%);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.Modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.ModalContent {
    background-color: white;
    height: 50vh;
    width: 80vh;
    border-radius: 60px;
    display: flex;
    box-shadow: 5px 5px 40px rgb(41, 39, 39);
    flex-direction: row;

}

.modalClosing {
    padding: 3vh;
    cursor: pointer;
    height: 5vh;
    width: 5vh;
}

.setCountdown {
    display: flex;
    justify-content: center;
    width: 55vh;
    align-items: center;
}

input {
    height: 15vh;
    width: 60vh;
    text-decoration: none;
    background-color: rgb(11, 9, 119);
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 55px;
    text-align: center;

}

.date {
    width: 20vh;
    height: 5vh;
    position: absolute;
    top: 60vh;
    left: 90vh;

}

.dateCheck {
    position: relative;
    top: 40vh;
    right: 33vh;
}

h3 {
    text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
    body {
        background: linear-gradient(90deg, rgba(16, 3, 70, 1) 0%, rgba(26, 32, 184, 1) 35%, rgba(19, 182, 217, 1) 65%);
        height: 100vh;
    }

    .container {
        background-color: white;
        height: 50vh;
        width: 85%;
        border-radius: 30px;
    }

    h1 {
        font-size: 25px;
    }

    .timer {
        width: 35vh;
    }

    .display-box {
        height: 12vh;
        width: 8vh;
        font-size: 40px;
    }

    button {
        font-size: 18px;
        width: 200px;
    }

    .ModalContent {
        height: 27vh;
        width: 40vh;
        border-radius: 30px;
    }

    .modalClosing {
        height: 3vh;
        width: 3vh;
    }

    input {
        height: 8vh;
        width: 38vh;
        position: relative;
        left: -8vh;
        top: -2vh;
        border-radius: 7px;
        font-size: 36px;
    }

    .date {
        width: 25vh;
        height: 5vh;
        position: absolute;
        top: 55vh;
        left: 12vh;
    }

    h3 {
        font-size: 16px;
    }

}

@media only screen and (min-width: 450px) and (max-width: 1023px) {
    body {
        background: linear-gradient(90deg, rgba(16, 3, 70, 1) 0%, rgba(26, 32, 184, 1) 35%, rgba(19, 182, 217, 1) 65%);
        height: 100vh;
    }

    .container {
        background-color: white;
        height: 50vh;
        width: 60%;
        border-radius: 30px;
    }

    h1 {
        font-size: 28px;
    }

    .timer {
        width: 45vh;
    }

    .display-box {
        height: 13vh;
        width: 9vh;
        font-size: 45px;
    }

    button {
        font-size: 18px;
        width: 200px;
    }

    .ModalContent {
        height: 50vh;
        width: 55vh;
        border-radius: 30px;
    }

    .modalClosing {
        height: 5vh;
        width: 5vh;
    }

    input {
        height: 12vh;
        width: 50vh;
        position: relative;
        left: -9vh;
        top: -2vh;
        border-radius: 7px;
        font-size: 40px;
        padding: 5px;
    }

    .date {
        width: 28vh;
        height: 6vh;
        position: absolute;
        top: 60vh;
        left: 30vh;
    }

    h3 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    body {
        background: linear-gradient(90deg, rgba(16, 3, 70, 1) 0%, rgba(26, 32, 184, 1) 35%, rgba(19, 182, 217, 1) 65%);
        height: 100vh;
    }

    .container {
        background-color: white;
        height: 50vh;
        width: 60%;
        border-radius: 30px;
    }

    h1 {
        font-size: 28px;
    }

    .timer {
        width: 45vh;
    }

    .display-box {
        height: 13vh;
        width: 9vh;
        font-size: 45px;
    }

    button {
        font-size: 18px;
        width: 200px;
    }

    .ModalContent {
        height: 50vh;
        width: 70vh;
        border-radius: 30px;
    }

    .modalClosing {
        height: 5vh;
        width: 5vh;
    }

    input {
        height: 12vh;
        width: 50vh;
        position: relative;
        left: -2.5vh;
        top: -2vh;
        border-radius: 7px;
        font-size: 40px;
        padding: 5px;
    }

    .date {
        width: 28vh;
        height: 6vh;
        position: absolute;
        top: 60vh;
        left: 45vh;
    }

    h3 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1625px) {
    .date {
        width: 28vh;
        height: 6vh;
        position: absolute;
        top: 60vh;
        left: 70vh;
    }
}